<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<!--This section is updated by the AfterBuild MSBuild task-->

	<!--Depending on the configuration the content of projectName.*.config is fully 
	    substituted by the correspondent file from the 'Config' directory-->

	<!--This is a sample task, that needs to be inserted into the .proj file -->
	<!--Copy correct config file over to the output directory-->
	<!--<Target Name="AfterBuild">
		<Delete Files="$(TargetDir)$(TargetFileName).config" />
		<Copy SourceFiles="$(ProjectDir)\Config\App.$(Configuration).config"
			  DestinationFiles="$(TargetDir)$(TargetFileName).config" />	    
	</Target>-->

</configuration>